@{
    ViewData["Title"] = "Coffea and Tea Leaves";
}


<div class="container">

    <div class="d-flex justify-content-center p-5">
        <img
            src="~/images/companyicon.png"
            class="welcomeimage"
            alt="Company logo">
    </div>

    <div class="container p-5 mt-5
    gap-4 
    d-flex justify-content-evenly align-items-center">

        <a 
        href="/candt/user/register"
        class="btn btn-primary mt-5"
        >Register</a>



        <a 
        href="/candt/user/login"
        class="btn btn-success mt-5"
        >Login</a>
    </div>
</div>